<%= render 'layouts/error_messages', book: @book%>
<div class="row">
	<div class="col-xs-3">
		<h2>User info</h2>
		<%= render 'users/profile', user: current_user %>
		<!--同コントローラーのviewで表示ならusersは省略可 -->

		<h2>New book</h2>
		<%= render 'books/newform', book: @book %>
	</div>
  <div class="col-xs-9">
  <h2>followers</h2>
		<!--users一覧 -->
		<table class="table">
			<thead>
				<tr>
					<th>image</th>
					<th>name</th>
					<th colspan="3"></th>
				</tr>
			</thead>

			<tbody>
				<% @followers.each do |follower| %>
				<tr>
					<td><%= attachment_image_tag(follower, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %></td>
					<td><%= follower.name%></td>
					<td><%= link_to "Show", follower, class: "user_#{follower.id}" %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	<!--users一覧 -->
	</div>
</div>